body {
    background-color: rgb(240, 239, 239)
}

.post_card {
    /* border: 2px lightgray solid; */
    width: 1050px;
    margin-bottom: 20px;
    /* margin-top: 20px; */
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 3px 3px #bebebe; */
    box-shadow: 5px 10px 8px #888888;
    height: 700px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

.add_comment{
    font-weight: 300

}

.create_date{
    color: gray
}

.created_at{
    color: gray;
    font-size: 12px;
}

.post_username {
    font-weight: 300;
}

.post_details{
    width: 700px
}

.deleteBTN{
    margin-left: 10px;
    background-color: red;
}

.post_comments {
    text-align: left;
    margin-top: 10px;
    /* border: 2px lightgray solid; */
    /* margin-left: auto;
    margin-right: auto; */
    width: 300px;
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
    /* background-color: white;
    border-radius: 10px; */
    /* box-shadow: 3px 3px #bebebe; */
    /* box-shadow: 5px 10px 8px #888888; */
    height: 700px;
    
}

.post_info{
    margin-left: 10px
}


img.post_photo{
    width: 675px;
    height: 561px;
    
    
}