{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/agents.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Adventure</h1>
    <div>
        <h2>{{post.title}}</h2>
        <h3>{{post.location}}</h3>
        <h3>{{post.description}}</h3>
        <h3>{{post.date}}</h3>
        <h3>{{post.comment.message}}</h3>


    </div>

    <div>
        <h3>Comments</h3>
            <a href="{% url 'nomadapp:comment_new' post.id %}">Add a Comment</a>
                {% for comment in post.comments.all %}
                    <h6>{{comment.user.username}}</h6>
                    <h6>{{comment.message}}</h6>
                    <h6>{{comment.created_at}}</h6>
                {% endfor %}
    </div>



    
{% endblock %}

</html>