{% extends 'shared/base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'styles/form.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %} 

{% block content %}
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% comment %} {{form.as_p}} {% endcomment %}
    <input type="submit" name="Save">
    </form>



    
 






{% endblock %}