{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/agents.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Welcome Nomad</h1>
{% for post in all_posts %}
    <a href={% url 'nomadapp:post_detail' post.id %}><h2>{{post.title}}</a></h2>
    <h3>{{post.location}}</h3>
    <h3>{{post.description}}</h3>
    <h3>{{post.date}}</h3>
{% endfor %}
    
{% endblock %}

</html>