{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/posts.css' %}" />
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"> {% endcomment %}
{% endblock %}

{% block content %}
<h1 class="title">Welcome Nomad</h1>
{% for post in all_posts %}
    <div class="post_card">
        <h6>@{{user.username}}</h6>
        <a href={% url 'nomadapp:post_detail' post.id %}>{{post.title}}</a>
        <img class="post_photo" src="{{post.post_image.url}}">
        <h3>{{post.location}}</h3>
        <h3>{{post.description}}</h3>
        <h6>{{post.date}}</h6>
    </div>
{% endfor %}
    
{% endblock %}

