{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'styles/register.css' %}" />
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"> {% endcomment %}

{% endblock %}

{% block content %}
<h1 class="title">Nomads</h1>

<div class="reg">
    
    
    <form method="post">
        {% csrf_token %}
    <input class="reg_input" type="text" placeholder="Username" name="username"></br>
    <input class="reg_input" type="text" placeholder="Password" name="password"></br>
    <input class="reg_input" type="email" placeholder="Email" name="email"></br>
    <input class="reg_input" type="text" placeholder="First Name" name="first_name"></br>
    <input class="reg_input" type="text" placeholder="Last Name" name="last_name"></br>
    <button class="submit" type="submit">Sign Up</button>
    </form>

</div>

{% endblock %}
